<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Producto</title>
    <link rel="stylesheet" href="static/estilo_editar.css">

</head>
<body>
    <h1>Editar Producto</h1>
    <form action="{{ url_for('editar', id=producto.id) }}" method="POST" class="form-producto">
        <div>
            Nombre: <input type="text" name="nombre" value="{{ producto.nombre }}" required><br>
            Cantidad: <input type="number" name="cantidad" value="{{ producto.cantidad }}" required><br>
            Precio: <input type="number" step="0.01" name="precio" value="{{ producto.precio }}" required><br>
            Fecha vencimiento: <input type="date" name="fecha_vencimiento" value="{{ producto.fecha_vencimiento }}" required><br>
            Categoría: <input type="text" name="categoria" value="{{ producto.categoria }}" required><br>
        </div>
        <input type="submit" value="Actualizar" class="btn-actualizar">
    </form>
    
</body>
</html>