<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuevo Producto</title>
    <link rel="stylesheet" href="static/estilo_nuevo.css">
</head>
<body>
    <h1>Nuevo Producto</h1>
    <form action="{{ url_for('nuevo_producto') }}" method="POST" class="form-producto">
        <div>
            Descripción: <input type="text" name="nombre" required><br>
            Cantidad: <input type="number" name="cantidad" required><br>
            Precio: <input type="number" step="0.01" name="precio" required><br>
            Fecha vencimiento: <input type="date" name="fecha_vencimiento" required><br>
            Categoría: <input type="text" name="categoria" required><br>
        </div>
        <input type="submit" value="Guardar">
    </form>
</body>
</html>
